# Copy this to .env and fill in your values

# Supabase — get from your Supabase project settings
VITE_SUPABASE_URL=https://tvshvsfnbzhcmnsmntlp.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR2c2h2c2ZuYnpoY21uc21udGxwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA3OTMyOCwiZXhwIjoyMDkzNjU1MzI4fQ.06Lyed0psKQlnQIIQxBiITc86Hnl1sfjKfenP7kZPC4

# Gemini — get from https://aistudio.google.com/app/apikey
GEMINI_API_KEY=yAIzaSyBIr6bdvuJD9KG4c6EDgL5B9WowXinDm6A

# Mapbox — already in your old code
VITE_MAPBOX_TOKEN=pk.eyJ1IjoibWF0aWxkZXNvYmJlcmkiLCJhIjoiY21vdTdxeGF0MDBmbzJyczV3ZjVsYmVocCJ9.4crzvO83UmrfRP_Zmf9X8g
VITE_MAPBOX_STYLE=mapbox://styles/matildesobberi/cmp70stiw001001sbgjodfsf9
